<title>@ViewBag.Title - My ASP.NET Application</title>
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")
<!DOCTYPE html>
<html>
<head>

    <style>
        body {
            text-align: inherit;
            background: url("http://foosballtable.reviews/wp-content/uploads/2016/05/best-foosball-tables-compared.jpg");          
            color: white; 
            font-family: Helvetica;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
        }

        p {
            font-size: 24px;
        }

        input {
            border: 0;
            padding: 12px;
            font-size: 18px;
        }

            input[type="submit"] {
                background: limegreen;
                color: black;
            }

        .sidenav {
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            left: 0;
            background-color: #111;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }

            .sidenav a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 25px;
                color: #818181;
                display: block;
                transition: 0.3s;
            }

                .sidenav a:hover {
                    color: #f1f1f1;
                }

            .sidenav .closebtn {
                position: absolute;
                top: 0;
                right: 25px;
                font-size: 36px;
                margin-left: 50px;
            }

        #main {
            transition: margin-left .5s;
            padding: 16px;
        }
    </style>


</head>

<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)"
           class="closebtn" onclick="closeNav()">&times;</a>
        <a href=http://localhost:60096/Home> Home </a>
        <a href=http://localhost:60096/Home/About> About</a>
        <a href=http://localhost:60096/Home/Contact> Contact</a>
        <a href=http://localhost:60096/Games/Index> Statistics</a>
        <a href=http://localhost:60096/Games/Details> Live</a>
        

        
    </div>
    <div id="main">

        <span style=" text-align: left; font-size:30px;cursor:pointer" onclick="openNav()">&#9776; Meniu</span>
    </div>

    <script>
        function openNav() {
            document.getElementById("mySidenav").style.width = "250px";
            document.getElementById("main").style.marginLeft = "250px";
            document.body.style.backgroundColor = "rgba(0,0,0,0.4)";
        }

        function closeNav() {
            document.getElementById("mySidenav").style.width = "0";
            document.getElementById("main").style.marginLeft = "0";
            document.body.style.backgroundColor = "white";
        }
    </script>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p style="text-align:center">&copy; @DateTime.Now.Year - Foosball team</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
