@model IEnumerable<WebApplication.Game>

@{
    ViewBag.Title = "Details";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="last" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            margin-top: 50px; /* 50px is the height of the navbar - change this if the navbarn height changes */
            text-align: left;
        }


        .jumbotron {
            background-color: rgba(169, 167, 167, 0.70);
        }
    </style>
</head>


<body>
    <div class="jumbotron" style="color:#ffffff">

        <h2 style="text-align:center" >Now</h2>

        <h1 style="text-align:center" id="autoNames"> @Model.FirstOrDefault().Team.Name - @Model.FirstOrDefault().Team1.Name</h1>

        <h1 style="text-align:center" id="autoScore">@Model.FirstOrDefault().FirstTeamScore : @Model.FirstOrDefault().SecondTeamScore</h1>
        <br />
        <h2 style="text-align:center" >Recently</h2>

  
        <h3 style="text-align:left">
              <input style="align-items:inherit" class="form-control" id="myInput" type="text" placeholder="Search.."> </h3>
        <br>
        <div class="table-responsive">
            <table class="table" >
                <thead>
                    <tr>

                        <th>
                            @Html.DisplayNameFor(model => model.Team.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstTeamScore)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Team1.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.SecondTeamScore)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Date)
                        </th>
                    </tr>
                </thead>
                <tbody id="myTable">
                    @foreach (var item in Model.Skip(1))
                    {
                        <tr>

                            <td>
                                @Html.DisplayFor(modelItem => item.Team.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.FirstTeamScore)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.Team1.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.SecondTeamScore)
                            </td>
                            <th>
                                @Html.DisplayFor(modelItem => item.Date)
                            </th>

                        </tr>
                    }
                </tbody>
</table>
            <script type="text/javascript">
                $(document).ready(function () {
                    $('#autoNames #autoScore').load();
                    refresh();
                });

                    function refresh() {
                        setTimeout(function () {
                            $('#autoNames #autoScore').load();
                            refresh();
                        }, 200);
                    }
            </script>
            <script>
    $(document).ready(function () {
        $("#myInput").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
            </script>


        </div>
    </div>

</body>

</html>