@model WebApplication.GameTable

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>GameTable</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.FirstTeamScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstTeamScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SecondTeamScore)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SecondTeamScore)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamsTable.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamsTable.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamsTable1.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamsTable1.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
